<div class="all-window">
	<table class="all-window-table">
		<tr>
			<td>
				<h1>きになるリスト</h1>
			</td>
		</tr>
		<tr>
			<td>
				<div class="result-all">
					<div>
						<% @lists.each do |list| %>
							<ul class="foo">
								<li>
									<a href="<%= list[:url] %>"><img border="1" src="<%= list[:image] %>"width="70%" height="auto"></a>
								</li>
								<li>
									<a href="<%= list[:url] %>"><h6><%= list[:name] %></h6></a>
								</li>
								<li>
									<a href="<%= list[:url] %>"><h5><%= list[:money] %></h5></a>
								</li>
								<form action="/list/<%= list.id %>/delete" method="post">
									<button type="submit">削除</button>
								</form>
							</ul>
						<% end %>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>
