<div class="all-window">
	<table class="all-window-table">
		<tr>
			<td>
				<% @viewtitle = "result"%>
				<div class="result_name">
					<h1>検索結果 : <%= @key %></h1>
				</div>
				<div>
					<h3 class="pages">3ページめ</h3>
				</div>

			</td>
		</tr>
		<tr>
			<td>
				<div class="result-all">
					<div>
						<% @all_hash_3.each do |h|%>
							<ul class = "foo">
								<li>
									<img border="1" src="<%= h[:image] %>"width="128" height="128">
								</li>
								<dl>
									<dt><a href="<%= h[:url] %>"><%= h[:name] %></a></dt>
									<dd><a><%= h[:money] %><a></dd>
								</dl>
							</ul>
						<% end %>
					</div>

			</td>
		</tr>
		<!--tr>
			<td>
				<div>
					<form action="/more_2" method="post">
						<p><input type="submit" value="もっと見る"></p>
					</form>
				</div>
			</td>
		</tr-->
	</table>
</div>
