<div class="all-window">
	<table class="all-window-table">
		<tr>
			<td>
				<% @viewtitle = "result"%>
				<div class="result_name">
					<h1>検索結果 : <%= @key %></h1>
				</div>
				<div class="page-number">
					<h4 class"page-number-h2"><%= @page_number %>ページ目</h4>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="result-all">
					<div>
						<% @all_hash.each do |h|%>
							<ul class="foo">
								<li>
									<a href="<%= h[:url] %>"><img border="1" src="<%= h[:image] %>"width="70%" height="auto"></a>
								</li>
								<li>
									<a href="<%= h[:url] %>"><h6><%= h[:name] %></h6></a>
								</li>
								<li>
									<a href="<%= h[:url] %>"><h5><%= h[:money] %></h5></a>
								</li>
								<form action="add_list" method="post">
									<input type="hidden" name="name" value="<%= h[:name] %>">
									<input type="hidden" name="money" value="<%= h[:money] %>">
									<input type="hidden" name="url" value="<%= h[:url] %>">
									<input type="hidden" name="image" value="<%= h[:image] %>">
									<input type="hidden" name="site" value="<%= h[:site] %>">
									<button type="submit">気になるリストに追加する</button>
								</form>
							</ul>
						<% end %>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="more-pages">
					<center>
						<form action="/more" method="post">
							<input type="hidden" name="word" value="<%= @key %>">
							<input type="hidden" name="pages" value="<%= @page_number %>">
							<button type="submit">もっと見る</button>
						</form>
					</center>
				</div>
			</td>
		</tr>
	</table>
</div>
