<div class="all-window">
	<table class="all-window-table">
		<tr>
			<td>
				<% @viewtitle = "result"%>
				<div class="result_name">
					<h1>検索結果 : <%= @key %></h1>
				</div>
				<div class="page-number">
					<h4 class"page-number-h2"><%= @page_number %>ページ目</h4>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="result-all">
					<div>
						<% @all_hash.each do |h|%>
							<ul class = "foo">
								<li>
									<img border="1" src="<%= h[:image] %>"width="128" height="128">
								</li>
								<dl>
									<dt><a href="<%= h[:url] %>"><%= h[:name] %></a></dt>
									<dd><a><%= h[:money] %><a></dd>
								</dl>
							</ul>
						<% end %>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="more-pages">
					<form action="/more" method="post">
						<input type="hidden" name="word" value="<%= @key %>">
						<input type="hidden" name="pages" value="<%= @page_number %>">
						<p><input type="submit" value="もっと見る"></p>
					</form>
				</div>
			</td>
		</tr>
	</table>
</div>
